/* ------------------------------
  HEADER
------------------------------ */
header {
}
header h1 {
  text-align: center;
  margin-top: 100px;
}
header li {
  display: inline;
  margin: 0 5px;
  list-style-type: none;
}
nav {
  text-align: center;
}
.top-bar {
  position: fixed;
  top: 0;
  z-index: 100;
}
.top-bar ul {
  display: inline-block;
}

/* ------------------------------
  EVENTS
------------------------------ */
#calendar {
  left: 25%;
  position: absolute; 
  top: 15%;
  width: 50%;
}
#calendar ul {
  list-style: none outside none;
  padding: 0em;
}
#calendar li {
  padding-top: 0.3em;
  padding-bottom: 0.3em;
}
#calendar .event_title {
  width: 100%;
  float: right;
  padding-top: 0.3em;
  padding-bottom: 0.3em;
  border-bottom: 1px dotted #A4A4A4;
}
#calendar .event_meta {
  width: 24%;
  float: right;
}
#calendar .event_content {
  width: 75%;
  float: left;
  border-right: 1px dotted #A4A4A4;
  padding-bottom: 3em;
  padding-right: 0.3em;
}
