<!DOCTYPE html>

<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
    <meta charset="utf-8" />

    <!-- Set the viewport width to device width for mobile -->
    <meta name="viewport" content="width=960">

    <title>Hoboken's Tech Task Force | {{page.title}}</title>

    <!-- Included CSS Files (Compressed) -->
    <link rel="stylesheet" href="/css/foundation.min.css">
    <link rel="stylesheet" href="/css/style.css">

    <!-- Google Web Fonts - that's a paddlin' -->
    <link href='http://fonts.googleapis.com/css?family=Rokkitt:400,700' rel='stylesheet' type='text/css'>

    <!-- JS -->
    <script src="javascript/modernizr.foundation.js"></script>
    <script src="javascript/meetup.js"></script>

    <!-- IE Fix for HTML5 Tags -->
    <!--[if lt IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
</head>
<body>

    <header>
        <nav class="top-bar attached">
            <h1><a href="/">Hoboken Tech Task Force</a></h1>

            <ul>
                <li><a class="button" href="/">Home</a></li>
                <li><a class="button" href="groups.htm">Tech Groups</a></li>
                <li><a class="button" href="events.htm">Tech Events</a></li>
                <!--<li><a class="button" href="startups.htm">Startups</a></li>-->
                <li><a class="button" href="working.htm">Who to Work With</a></li>
            </ul>

        </nav>
    </header>

    <section class="container">
        {{ content }}
    </section>

    <footer>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="groups.htm">Tech Groups</a></li>
            <li><a href="events.htm">Tech Events</a></li>
            <!--<li><a class="button" href="startups.htm">Startups</a></li>-->
            <li><a href="working.htm">Who to Work With</a></li>
        </ul>

        <section class="footer-logos">
            <p>Coding and Design by:</p>
            <a href="http://ploonky.com" target="_blank"><img class="logo-ploonky" src="images/ploonky-small.png" alt="ploonky" title="ploonky"></a>
            <a href="http://320ny.com" target="_blank"><img class="logo-320ny" src="images/320ny-small.png" alt="320ny" title="320ny"></a>
        </section>

        <p>
            <a href="#">hello@hobokentechtaskforce.com</a>
            <br>Copyright &copy; 2012 Hoboken Tech Task Force
        </p>
    </footer>



    <!-- Included JS Files (Uncompressed) -->
    <!--

    <script src="javascripts/jquery.js"></script>

    <script src="javascripts/jquery.foundation.mediaQueryToggle.js"></script>

    <script src="javascripts/jquery.foundation.forms.js"></script>

    <script src="javascripts/jquery.foundation.reveal.js"></script>

    <script src="javascripts/jquery.foundation.orbit.js"></script>

    <script src="javascripts/jquery.foundation.navigation.js"></script>

    <script src="javascripts/jquery.foundation.buttons.js"></script>

    <script src="javascripts/jquery.foundation.tabs.js"></script>

    <script src="javascripts/jquery.foundation.tooltips.js"></script>

    <script src="javascripts/jquery.foundation.accordion.js"></script>

    <script src="javascripts/jquery.placeholder.js"></script>

    <script src="javascripts/jquery.foundation.alerts.js"></script>

    <script src="javascripts/jquery.foundation.topbar.js"></script>

    -->

    <!-- Included JS Files (Compressed) -->
    <script src="/javascript/jquery.js"></script>
    <script src="/javascript/foundation.min.js"></script>

    <!-- Initialize JS Plugins -->
    <!--<script src="javascript/meetup.js"></script>-->
</body>
</html>